.card {
  background-color: #111;
  background-image: radial-gradient(#171717, #111);
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px 20px;
  border-radius: 10px;
  box-shadow: 0 0 90px 0 rgba(0, 0, 0, .5);
}

.card-decor {
  background-image: url('../../assets/header.svg');
  width: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.card-decor:before {
  display: block;
  content: '';
  padding-top: 44%;
}

.card-header {
  background-image: url('../../assets/flag.svg');
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 10px;
}

.card-header:before {
  display: block;
  content: '';
  padding-top: 15%;
}

.card-header-inner {
  position: absolute;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 36px;
  left: 50%;
  top: 38%;
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
}

.card-content {
  padding: 80px;
}

.card-text {
  text-align: justify;
  margin-bottom: 60px;
}

.card-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.card-waiting {
  font-size: 30px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  margin-bottom: 40px;
}

.card-bottom {
  background-image: url('../../assets/uzor.svg');
  width: 50%;
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  margin: 0 auto;
}

.card-bottom:before {
  display: block;
  content: '';
  padding-top: 15%;
}


@media (max-width: 800px) {
  .card {
    padding: 10px;
  }

  .card-content {
    padding: 40px;
  }
}

@media (max-width: 580px) {
  .card-header-inner, .card-waiting {
    font-size: 20px;
  }

  .card-buttons {
    flex-flow: column nowrap;
    align-items: stretch;
  }
}

@media (max-width: 360px) {
  .card-content {
    padding: 20px;
  }
}
