.thanks {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.thanks-text {

}

.thanks-gif-container {
  margin-top: 40px;
  max-width: 300px;
  position: relative;
}

.thanks-gif {
  width: 100%;
}
