@font-face {
  font-family: 'Avenir';
  src: url('./assets/fonts/Avenir.woff') format('woff'),
       url('./assets/fonts/Avenir.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('./assets/fonts/Futura.woff') format('woff'),
       url('./assets/fonts/Futura.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #181818;
  font-family: "Avenir", sans-serif;
  color: #fff;
}

h1 {
  /* text-align: center; */
  /* color: red; */
}

h1, h2 {
  font-family: 'Futura';
}

ul {
  padding-left: 20px;
}
